<li class="timeline-item mb-5">
    <span class="timeline-icon"><i class="bi bi-calendar2"></i></span>
    <h5 class="fw-bold">Date - Transforms input of type date</h5>
    <div class="card border-primary bg-dark">
        <div class="card-body row text-dark">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="transformation-date-format"
                                name="transformation-date-format" aria-describedby="transformation-date-format-help"
                                placeholder="Value">
                            <label for="transformation-date-format">Date Format</label>
                            <div id="transformation-date-format-help" class="form-text">
                                The input date format
                            </div>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="transformation-date-add-days"
                                name="transformation-date-add-days" aria-describedby="transformation-date-add-days-help"
                                value="0">
                            <label for="transformation-date-add-days">Add Days</label>
                            <div id="transformation-date-add-days-help" class="form-text">
                                The number of business days to add
                            </div>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="form-check form-switch text-white">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="transformation-date-use-today">
                                <label class="form-check-label" for="transformation-date-use-today">Use Today</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include data-sources/manage/fields/transformations/output-result.html %}
        </div>
    </div>
    {% include data-sources/manage/fields/manage-transformation-buttons.html %}
</li>