<li class="timeline-item mb-2">
    <span class="timeline-icon"><i class="bi bi-slash"></i></span>
    <h5 class="fw-bold">Dividir por - Divide o valor de entrada pelo valor informado</h5>
    <div class="card border-info bg-dark">
        <div class="card-body row text-dark">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="transformation-divide-by-value"
                                name="transformation-divide-by-value" aria-describedby="transformation-divide-by-value-help"
                                placeholder="Value">
                            <label for="transformation-divide-by-value">Value</label>
                            <div id="transformation-divide-by-value-help" class="form-text">
                                O valor usado para dividir o valor de entrada
                            </div>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include data-sources/manage/fields/transformations/output-result.html %}
            {% include data-sources/manage/fields/manage-transformation-buttons.html %}
        </div>
    </div>
</li>