<li class="timeline-item mb-5">
    <span class="timeline-icon"><i class="bi bi-arrow-left-right"></i></span>
    <h5 class="fw-bold">Left Right - Get the some character from left or right of the input value</h5>
    <div class="card border-primary bg-dark">
        <div class="card-body row text-dark">
            <div class="col">
                <div class="row">
                    <div class="col d-grid gap-2 d-inline mx-auto">
                        <input type="radio" class="btn-check" id="transformation-left-right-is-left-left"
                            name="transformation-left-right-is-left" />
                        <label class="btn btn-outline-primary" for="transformation-left-right-is-left-left">Left</label>
                        <input type="radio" class="btn-check" id="transformation-left-right-is-left-right" name="transformation-left-right-is-left"
                            checked="checked" />
                        <label class="btn btn-outline-primary" for="transformation-left-right-is-left-right">Right</label>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="transformation-left-right-length"
                                name="transformation-left-right-length" aria-describedby="transformation-left-right-length-help"
                                placeholder="Length">
                            <label for="transformation-left-right-length">Length</label>
                            <div id="transformation-left-right-length-help" class="form-text">
                                The length to get from the input value
                            </div>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include data-sources/manage/fields/transformations/output-result.html %}
        </div>
    </div>
    {% include data-sources/manage/fields/manage-transformation-buttons.html %}
</li>