<li class="timeline-item mb-2">
    <span class="timeline-icon"><i class="bi bi-check2"></i></span>
    <h5 class="fw-bold">Definir - Definir um valor em substituição ao valor de entrada</h5>
    <div class="card border-info bg-dark">
        <div class="card-body row text-dark">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="transformation-set-value"
                                name="transformation-set-value" aria-describedby="transformation-set-value-help"
                                placeholder="Valor">
                            <label for="transformation-set-value">Valor</label>
                            <div id="transformation-set-value-help" class="form-text">
                                O valor usado para definir o valor de entrada
                            </div>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include data-sources/manage/fields/transformations/output-result.html %}
            {% include data-sources/manage/fields/manage-transformation-buttons.html %}
        </div>
    </div>
</li>