<li class="timeline-item mb-2">
    <span class="timeline-icon"><i class="bi bi-signpost-split"></i></span>
    <h5 class="fw-bold">Separar - Separe o valor de entrada por um divisor e obtenha o valor da posição</h5>
    <div class="card border-info bg-dark">
        <div class="card-body row text-dark">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="transformation-split-splitter"
                                name="transformation-split-splitter" aria-describedby="transformation-split-splitter-help"
                                placeholder="Value">
                            <label for="transformation-split-splitter">Divisor</label>
                            <div id="transformation-split-splitter-help" class="form-text">
                                O valor usado para dividir
                            </div>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="transformation-split-position"
                                name="transformation-split-position" aria-describedby="transformation-split-position-help"
                                placeholder="Value">
                            <label for="transformation-split-position">Posição</label>
                            <div id="transformation-split-position-help" class="form-text">
                                A posição a ser utilizada
                            </div>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include data-sources/manage/fields/transformations/output-result.html %}
            {% include data-sources/manage/fields/manage-transformation-buttons.html %}
        </div>
    </div>
</li>