<li class="timeline-item mb-5">
    <span class="timeline-icon"><i class="bi bi-scissors"></i></span>
    <h5 class="fw-bold">Trim - Remove leading, trailing or both white-space characters from the input value</h5>
    <div class="card border-primary bg-dark">
        <div class="card-body row text-dark">
            <div class="col">
                <div class="row">
                    <div class="col d-grid gap-2 d-inline mx-auto">
                        <input type="radio" class="btn-check" id="transformation-trim-start"
                            name="transformation-trim" />
                        <label class="btn btn-outline-primary" for="transformation-trim-start">Leading</label>
                        <input type="radio" class="btn-check" id="transformation-trim-both" name="transformation-trim"
                            checked="checked" />
                        <label class="btn btn-outline-primary" for="transformation-trim-both">Both</label>
                        <input type="radio" class="btn-check" id="transformation-trim-end" name="transformation-trim" />
                        <label class="btn btn-outline-primary" for="transformation-trim-end">Trailing</label>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="transformation-trim-value"
                                name="transformation-trim-value" aria-describedby="transformation-trim-value-help"
                                placeholder="Type some value">
                            <label for="transformation-trim-value">To remove</label>
                            <div id="transformation-trim-value-help" class="form-text">
                                The value used to trim the string (empty will remove white-space characters)
                            </div>
                            <div class="valid-feedback"> Looks good! </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include data-sources/manage/fields/transformations/output-result.html %}
        </div>
    </div>
    {% include data-sources/manage/fields/manage-transformation-buttons.html %}
</li>