<div class="mb-3">
    <label for="data-source-csv-separator-char" class="form-label">Separator Character</label>
    <input type="text" class="form-control" id="data-source-csv-separator-char" name="data-source-csv-separator-char"
        aria-describedby="data-source-csv-separator-char-help" value="," required />
    <div id="data-source-csv-separator-char-help" class="form-text">
        The character used to separate the data in CSV file. By default is ','.
    </div>
    <div class="valid-feedback"> Looks good! </div>
</div>
<div class="mb-3">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="data-source-csv-ignore-header"
            name="data-source-csv-ignore-header" />
        <label class="form-check-label" for="data-source-csv-ignore-header">Should ignore first line
            of the file</label>
    </div>
</div>
{% include button.html icon="bi-file-earmark-check" label="Save Data Source Info as CSV" type="submit" %}