<div class="mb-3">
    <label for="data-source-csv-separator-char" class="form-label">Caractere separador</label>
    <input type="text" class="form-control" id="data-source-csv-separator-char" name="data-source-csv-separator-char"
        aria-describedby="data-source-csv-separator-char-help" value="," required />
    <div id="data-source-csv-separator-char-help" class="form-text">
        O caractere usado para separar os dados no arquivo CSV. Por padrão é ','.
    </div>
    <div class="valid-feedback"> Looks good! </div>
</div>
<div class="mb-3">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="data-source-csv-ignore-header"
            name="data-source-csv-ignore-header" />
        <label class="form-check-label" for="data-source-csv-ignore-header">Deve ignorar a primeira linha do arquivo</label>
    </div>
</div>

{% include data-sources/manage/manage-buttons.html icon="bi-file-earmark-check" label="Salvar Como CSV" type="submit" form-action="Excel" %}