{%- assign btn-type = include.type | default: "button" -%}
{%- assign action = include.form-action | default: "" -%}
{%- assign form = include.form | default: "" -%}
{%- assign use-splitter = include.use-splitter | default: false -%}
{%- assign use-line-break = include.use-line-break | default: false -%}
{%- assign extra-attributes = include.extra-attributes -%}


<button role="button" type="{{ btn-type }}"
class="btn btn-outline-info{% unless include.classes == empty %} {{ include.classes }}{% endunless %}"

{% unless action==empty %} formaction="{{ action }}"{% endunless %}
{% unless form==empty %} form="{{ form }}" {% endunless %}
{% unless extra-attributes==empty %} {{ extra-attributes }}{% endunless %}>
{% unless include.icon == empty %}<i class="bi {{ include.icon }}"></i>{% endunless %}
{%- if use-splitter -%}<hr />{%- endif -%} 
{%- if use-line-break -%}<br />{%- endif -%} 
    {{ include.label }}
</button>