{%- assign url = include.url | default: "#" -%}
{%- assign useSplitter = include.splitter | default: false -%}
{%- assign extra-attributes = include.extra-attributes -%}


<a href="{{ url }}" class="btn btn-outline-primary{% unless include.classes == empty %} {{ include.classes }}{% endunless %}" role="button" {% unless extra-attributes==empty %} {{
    extra-attributes }}{% endunless %}>
    {% unless include.icon == empty %}<i class="bi {{ include.icon }}"></i>{% endunless %}
    {%- if useSplitter -%}<hr />{%- endif -%} 
    {{ include.label }}
</a>