<table class="table table-dark table-striped table-hover border-primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Position</th>
      <th>Transformation(#)</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Field-1</td>
      <td>Number</td>
      <td>1</td>
      <td>2</td>
      <td style="text-align: center">
        {% include link-button.html icon="bi-file-earmark-text" label="Edit"
        url="Field-1" %}
        {% include link-button.html icon="bi-file-earmark-excel" label="Delete" %}
      </td>
    </tr>
    <tr>
      <td>Field-2</td>
      <td>Date</td>
      <td>2</td>
      <td>1</td>
      <td style="text-align: center">
        {% include link-button.html icon="bi-file-earmark-text" label="Edit"
        url="Field-2" %}
        {% include link-button.html icon="bi-file-earmark-excel" label="Delete" %}
      </td>
    </tr>
    <tr>
      <td>Field-3</td>
      <td>Text</td>
      <td>3</td>
      <td>4</td>
      <td style="text-align: center">
        {% include link-button.html icon="bi-file-earmark-text" label="Edit"
        url="Field-2" %}
        {% include link-button.html icon="bi-file-earmark-excel" label="Delete" %}
      </td>
    </tr>
  </tbody>
</table>