<ul class="nav nav-pills nav-justified" id="data-source-configuration" role="tablist">
    <li class="nav-item btn btn-outline-primary" role="presentation">
        {% include link-button.html classes="nav-link" icon="bi-file-earmark" label="Basic information"
        url="/files/data-sources/Csv-File"%}
    </li>
    <li class="nav-item btn btn-outline-primary" role="presentation">
        {% include link-button.html classes="nav-link active" icon="bi-file-earmark-ruled" label="Form Fields"
        url="/files/data-sources/Csv-File/Fields/#" %}
    </li>
    <!-- <li class="nav-item btn btn-outline-primary" role="presentation">
        {% include link-button.html classes="nav-link" icon="bi-file-earmark-minus" label="Ignore Rows"
        url="/files/data-sources/Csv-File/Fields" %}
    </li> -->
</ul>