<script>
    function loadHtmlElements() {
        const btnAddFiles = document.getElementById('btn-add-files');
        const fsSelectFiles = document.getElementById('fs-select-files');
        const fileDetails = document.getElementsByTagName('tbody')[0];
        const lblTotalFiles = document.getElementById('lbl-total-files');
        const tplFileDetails = document.getElementById('tpl-file-details');
        const replaceTpl = (name, size) => tplFileDetails.innerHTML.replace("{name}", name).replace("{size}", size);
        const updateFilesNumber = () => lblTotalFiles.innerHTML = fileDetails.children.length;

        btnAddFiles.addEventListener("click", function fnFileDetails() {
            [...fsSelectFiles.files]
                .forEach(file => fileDetails.innerHTML += replaceTpl(file.name, file.size));
            updateFilesNumber();
            addRemoveHandler();
            e.preventDefault();
        });

        function addRemoveHandler() {
            const links = document.querySelectorAll("tbody a");
            for (var i = 0; i < links.length; i++) {
                links[i].addEventListener("click", function fnFileDetails(e) {
                    const tr = e.currentTarget.parentElement.parentElement;
                    fileDetails.removeChild(tr);
                    updateFilesNumber();
                    return false;
                });
            }
        }
        addRemoveHandler();
    }
    loadHtmlElements();
</script>