<div class="card border-info bg-dark">
  <div class="card-body row text-dark">
    <div class="col">
      {% include upload-files/proceed-button.html %}

      <table class="table table-dark table-striped table-hover border-white">
        <thead>
          <tr>
            <th>Nome do arquivo</th>
            <th>Status</th>
            <th>%</th>
            <th>Erros</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      {% include upload-files/proceed-button.html %}
    </div>
  </div>
</div>