<form action="{{ include.data-source-save-link }}" method="get" id="data-source-info">
  <div class="mb-3">
    <label for="data-source-name" class="form-label">Name</label>
    <input type="text" class="form-control" id="data-source-name" name="data-source-name" aria-describedby="data-source-name-help">
    <div id="data-source-name-help" class="form-text">The data source name. It wil check for unique names.</div>
    <div class="valid-feedback"> Looks good! </div>
  </div>
  <div class="mb-3">
    <label for="data-source-file-pattern" class="form-label">File Pattern</label>
    <input type="text" class="form-control" id="data-source-file-pattern" name="data-source-file-pattern"
      aria-describedby="data-source-file-pattern-help">
    <div id="data-source-file-pattern-help" class="form-text">The data source file pattern. This is used to check the
      file uploaded.</div>
    <div class="valid-feedback"> Looks good! </div>
  </div>
  <div class="mb-3">
    {% include data-sources/info-type-selector.html %}
  </div>
</form>