<div class="card border-info bg-dark">
    <div class="card-body row text-dark">
        <div class="col">
            <table class="table table-dark table-striped table-hover border-white">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Valor A</td>
                        <td><time datetime="2022-04-30T17:22:13">30/04/2022 17:22</time></td>
                        <td>3</td>
                        <td>R$ 10,00</td>
                        <td style="text-align: center">
                          {% include link-button.html icon="bi-pen" label="Editar" %}
                          {% include link-button.html icon="bi-eraser" label="Remover" %}
                        </td>
                    </tr>
                    <tr>
                        <td>Valor B</td>
                        <td><time datetime="2022-04-30T17:22:13">30/04/2022 17:22</time></td>
                        <td>3</td>
                        <td>R$ 10,00</td>
                        <td style="text-align: center">
                          {% include link-button.html icon="bi-pen" label="Editar" %}
                          {% include link-button.html icon="bi-eraser" label="Remover" %}
                        </td>
                    </tr>
                    <tr>
                        <td>Valor C</td>
                        <td><time datetime="2022-04-30T17:22:13">30/04/2022 17:22</time></td>
                        <td>3</td>
                        <td>R$ 10,00</td>
                        <td style="text-align: center">
                          {% include link-button.html icon="bi-pen" label="Editar" %}
                          {% include link-button.html icon="bi-eraser" label="Remover" %}
                        </td>
                    </tr>
                    <tr>
                        <td>Valor C</td>
                        <td><time datetime="2022-04-30T17:22:13">30/04/2022 17:22</time></td>
                        <td>3</td>
                        <td>R$ 10,00</td>
                        <td style="text-align: center">
                          {% include link-button.html icon="bi-pen" label="Editar" %}
                          {% include link-button.html icon="bi-eraser" label="Remover" %}
                        </td>
                    </tr>
                    <tr>
                        <td>Valor C</td>
                        <td><time datetime="2022-04-30T17:22:13">30/04/2022 17:22</time></td>
                        <td>3</td>
                        <td>R$ 10,00</td>
                        <td style="text-align: center">
                          {% include link-button.html icon="bi-pen" label="Editar" %}
                          {% include link-button.html icon="bi-eraser" label="Remover" %}
                        </td>
                    </tr>
                    <tr tr class="table-secondary text-muted">
                        <td><del>Valor C</del></td>
                        <td><del><time datetime="2022-04-30T17:22:13">30/04/2022 17:22</time></del></td>
                        <td><del>3</del></td>
                        <td><del>R$ 10,00</del></td>
                        <td style="text-align: center">
                          {% include link-button.html icon="bi-plus" label="Adicionar" %}
                        </td>
                    </tr>
                    <tr>
                        <td>Valor C</td>
                        <td><time datetime="2022-04-30T17:22:13">30/04/2022 17:22</time></td>
                        <td>3</td>
                        <td>R$ 10,00</td>
                        <td style="text-align: center">
                          {% include link-button.html icon="bi-pen" label="Editar" %}
                          {% include link-button.html icon="bi-eraser" label="Remover" %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>